@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  .custom-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .custom-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .custom-container {
    width: 1170px;
  }
}
